[Unit]
Description=AirSane Imaging Service
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/airsane
ExecStart=/usr/local/bin/airsaned --interface=${INTERFACE} --listen-port=${LISTEN_PORT} --access-log=${ACCESS_LOG} --hotplug=${HOTPLUG} --mdns-announce=${MDNS_ANNOUNCE} --local-scanners-only=${LOCAL_SCANNERS_ONLY} --options-file=${OPTIONS_FILE}
ExecReload=/bin/kill -HUP $MAINPID
User=saned
Group=saned
Type=simple

[Install]
WantedBy=multi-user.target
Alias=airsaned.service
