<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.simulpiscator.airsaned</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/sbin/airsaned</string>
        <string>--base-port=8090</string>
        <string>--options-file=/usr/local/etc/airsane/options.conf</string>
        <string>--ignore-file=/usr/local/etc/airsane/ignore.conf</string>
    </array>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
