<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.simulpiscator.airsaned</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/airsaned</string>
		<string>--listen-port=8090</string>
		<string>--options-file=/usr/local/etc/airsane/options.conf</string>
		<string>--ignore-list=/usr/local/etc/airsane/ignore.conf</string>
		<string>--disclose-version=true</string>
		<string>--reset-option=true</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
